$background-color: #323232;
$background-color2: #3232327e;
$primary-color: #35802d;
$secondary-color: #afffa6;
$tertiary-color: #6aff59;
$accent-one-color: #578053;
$text-color: #55cc47;
$abstract-color: rgba(248, 248, 248, 0.13);

body {
  background: $background-color;
  color: $text-color;
  margin: 0;
  font-family: 'Anton', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll;
}

.landing-page {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0vh;
  text-align: center;
  font-size: 5vw;
  .container {
    background: linear-gradient(rgb(50, 50, 50), rgba(50, 50, 50, 0.8)),
      url('https://media.giphy.com/media/xTiTnB3PhIZRIZb4hq/giphy.gif');
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
  }
  button {
    background-color: $secondary-color;
    border: 3px solid #000000;
    padding: 3vw;
    font-size: 3vw;
    border-radius: 2vw;
    box-shadow: 0px 3px 10px $accent-one-color;
    color: #000000;
    margin-bottom: 2%;
  }
  button:hover {
    background-color: #6c9767;
    color: white;
  }
  img {
    margin-top: 2%;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1%;
  }
}

.navBar {
  background: $abstract-color;
  box-shadow: inset 0 0 0.5em #ffff, 0em 0em 1em black;
  margin: 0;
  padding: 1%;
  min-width: 100vw;
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
    font-size: 4vw;
    flex-wrap: wrap;
  }
  a {
    margin: 0 1em;
    color: $text-color;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
  }
  a:hover {
    color: #f5f5f5;
  }
}

.home-page {
  .hero-image {
    background: url('../assets/squadUp.png') center;
    border: 3px solid #0000001e;
    min-height: 10vh;
    box-shadow: 0em 0em 1em $primary-color;
    margin-top: 1em;
  }
  p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3vw;
    padding: 0;
    text-decoration: underline;
  }
  .banner {
    border-radius: 1%;
    background: #000000;
    text-align: center;
    min-height: 4vh;
    max-width: 40vw;
    margin: 4% auto;
    padding: 1rem;
    box-shadow: 0em 0em 2em #ffff;
  }
}

.postContainer {
  display: flex;
  flex-direction: row-reverse;
}

.post {
  border: 1px solid $abstract-color;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  padding: 1%;
  max-width: 20vw;
  text-align: center;
  background: #202020ee;
  margin: 2%;
  box-shadow: 0em 0.6rem 0.6rem rgb(41, 150, 27);
  font-size: 1rem;
  img {
    // max-height: 40vh;
    max-width: 20vw;
    border: 3px solid black;
  }
  h2 {
    max-height: 10vh;
  }
  p {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 0;
  }
}
.postDetailPage {
  text-align: center;
  background: url('../assets/squadUp.png') center;
  min-height: 100vh;
  .postDetail {
    padding: 2%;
    margin: 0 2%;
    background: #000000;
    h1 {
      margin-bottom: 0;
    }
  }

  .comments {
    background: #f5f5f5;
    min-height: 30vh;
    margin: 0 2%;
    h1 {
      margin-top: 0;
      text-decoration: underline;
    }
    .comment {
      background: #000000;
      border: 1px solid #ffff;
      padding: 1%;
    }
  }
}

.editPage {
  // background: url('../assets/squadUp.png') center;
  background: #000000;
  border-radius: 2%;
  border: 1px solid black;
  text-align: center;
  margin: 10%;
  padding: 2%;
  input {
    font-size: 2em;
    margin: 2%;
  }
  button {
    font-size: 2em;
    margin-top: 1%;
    border-radius: 10%;
  }
}

input:focus {
  border: 2px solid $tertiary-color;
  background: #ffff;
}
form {
  background: url('../assets/squadUp.png') center;
  border: 3px solid $secondary-color;
  padding: 3%;
  margin: auto 20%;
  input {
    border-radius: 3%;
    background: #dadada;
    border: 1px solid $accent-one-color;
    padding: 1%;
    font-size: 1rem;
    margin: 1%;
  }
  button {
    border-radius: 3%;
    border: 2px solid #f5f5f5;
    background: $secondary-color;
    color: #000000;
    font-size: 1.5rem;
  }
  button:hover {
    background-color: #6c9767;
    color: white;
  }
}

button {
  font-family: 'Anton', sans-serif;
  border-radius: 5%;
  border: 2px solid #f5f5f5;
  background: $primary-color;
  color: $text-color;
  font-size: 1.5rem;
}
button:hover {
  background-color: #6c9767;
  color: white;
}

.signUpPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  padding: 2%;
  p {
    font-size: 2rem;
  }
  a {
    color: $text-color;
  }
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #ffff;
  text-align: center;
}

// MEDIA QUERIES
@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .postContainer {
    flex-direction: column;
    align-items: center;
  }
  .post {
    min-width: 100vw;
    margin: 3% 0;
    h3 {
      font-size: 5vh;
      padding: 0;
      margin: 0;
    }
    img {
      min-width: 50vw;
    }
    p {
      font-size: 2vw;
    }
    h4 {
      font-size: 5vw;
      padding: 0;
      margin: 0;
    }
  }

  .postDetailPage {
    p {
      font-size: 3vw;
    }
  }

  .comments {
    h1 {
      margin-bottom: 0;
    }
    form {
      margin-bottom: 2%;
      button {
        font-size: 2vh;
      }
    }
  }
  .signUpPage {
    button {
      font-size: 2vh;
    }
  }

  .loginPage {
    button {
      font-size: 2vh;
    }
  }

  .container{
    img{
      max-width: 100vw;
    }
  }
}
