$background-color: #323232;
$primary-color: #35802d;
$secondary-color: #afffa6;
$tertiary-color: #6aff59;
$accent-one-color: #578053;
$text-color: #55cc47;
$abstract-color: rgba(248, 248, 248, 0.13);

body {
  background: $background-color;
  color: $text-color;
  margin: 0;
  font-family: 'Anton', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

.landing-page {
  max-width: 100vw;
  margin: 10vh;
  text-align: center;
  font-size: 5vw;
}

.landing-page {
  button {
    background-color: $secondary-color;
    border: 3px solid #000000;
    padding: 3vw;
    font-size: 3vw;
    border-radius: 2vw;
    box-shadow: 0px 3px 10px $accent-one-color;
    color: #000000;
  }
  button:hover {
    background-color: #6c9767;
    color: white;
  }
  img {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

.navBar {
  background: $abstract-color;
  box-shadow: inset 0 0 0.5em #ffff, 0em 0em 1em black;
  margin: 0;
  padding: 1%;
  header {
    display: flex;
    justify-content: center;
    padding-top: 0;
    font-size: 4vh;
  }
  a {
    margin: 0 2em;
    color: $text-color;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
  }
  a:hover {
    color: #f5f5f5;
  }
}

.home-page {
  .hero-image {
    background: url('../assets/squadUp.png') center;
    border: 3px solid #0000001e;
    min-height: 10vh;
    box-shadow: 0em 0em 1em $primary-color;
    margin-top: 1em;
  }
  p {
    color: #ffff;
    font-weight: bold;
    font-size: 3rem;
    padding: 0;
    text-decoration: underline;
  }
  .banner {
    border-radius: 1%;
    background: #000000;
    text-align: center;
    min-height: 4vh;
    max-width: 40vw;
    margin: 4% auto;
    padding: 1rem;
    box-shadow: 0em 0em 2em #ffff;
  }
}

.postContainer {
  display: flex;
  flex-direction: row-reverse;
}

.post {
  border: 1px solid $abstract-color;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  padding: 1%;
  max-width: 20vw;
  text-align: center;
  background: #202020ee;
  margin: 2%;
  box-shadow: 0em 0.6rem 0.6rem rgb(41, 150, 27);
  font-size: 1rem;
  img {
    max-height: 40vh;
    max-width: 20vw;
    border: 3px solid black;
  }
  p {
    font-size: 0.2%;
    text-decoration: none;
  }
}
.postDetailPage {
  text-align: center;
  background: url('../assets/squadUp.png') center;
  min-height: 100vh;
  .postDetail {
    padding: 2%;
    margin: 0 2%;
    background: #000000;
    h1 {
      margin-bottom: 0;
    }
  }

  .comments {
    background: #f5f5f5;
    min-height: 30vh;
    margin: 0 2%;
    h1 {
      margin-top: 0;
      text-decoration: underline;
    }
    .comment {
      background: #000000;
      border: 1px solid #ffff;
      padding: 1%;
    }
  }
}

.editPage {
  // background: url('../assets/squadUp.png') center;
  background: #000000;
  border-radius: 2%;
  border: 1px solid black;
  text-align: center;
  margin: 10%;
  padding: 2%;
  input {
    font-size: 2em;
    margin: 2%;
  }
  button {
    font-size: 2em;
    margin-top: 1%;
    border-radius: 10%;
  }
}

form {
  background: url('../assets/squadUp.png') center;
  border: 3px solid $secondary-color;
  padding: 3%;
  margin: auto 20%;
  input {
    border-radius: 3%;
    background: #dadada;
    border: 1px solid $accent-one-color;
    padding: 1%;
    font-size: 1rem;
    margin: 1%;
  }
  button {
    border-radius: 3%;
    border: 2px solid #f5f5f5;
    background: $secondary-color;
    color: #000000;
    font-size: 1.5rem;
  }
  button:hover {
    background-color: #6c9767;
    color: white;
  }
}

button {
  font-family: 'Anton', sans-serif;
  border-radius: 5%;
  border: 2px solid #f5f5f5;
  background: $primary-color;
  color: $text-color;
  font-size: 1.5rem;
}
button:hover {
  background-color: #6c9767;
  color: white;
}

.signUpPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  padding: 2%;
  p {
    font-size: 2rem;
  }
  a {
    color: $text-color;
  }
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #ffff;
  text-align: center;
}
